<div class="row" >

            <div class="col-md-8">
                <img height = "400" width = "800" class="img-responsive" src= {{home.image}} alt="">
            </div>

            <div class="col-md-4">
                <h3>Home Description</h3>
                <p> {{home.description}}</p>
                <h3>Home Details</h3>
                <ul>
                    <li>Address: {{home.address}}</li>
                    <li>Price: {{home.price}}</li>
                    <li>Builder: {{home.builder.firstName}} {{home.builder.lastName}}</li>
                    <li>FloorPlan: {{home.floorplan}}</li>
                    <li>Estimated completion date: {{home.ECD}}</li>
                </ul>
            </div>
 </div>
 <div id = "map" class="row">
     <div class="col-md-4">
        <div class="container-fluid">
        <ng-map center="150 Klattenhoff ln Hutto,TX 78634"></ng-map>
      </div>
  </div>
 </div>